.*.sw[op]
*~

*.py[co]

*.b#?
*.s#?
*.l#?
*.epf

.DS_Store

*.bak
cover
.coverage
.venv
.tox
build
dist
*.egg-info

# ignore files called out in sample_auth_check.sh to avoid issues
authorized.txt
log.txt
